:root{
  --orange : #ff7f00;
  --red: #DC143C;
  --salmon: #FFBC97;
  --white : #ffffff;
  --darkblue: #03404c;
  --blue: #3d6f7e;
  --back: #FFFACD;
  --footer:#07171b;
  --formwidth: 400px;
}

#titre-accueil p {
  text-align: center;
  margin-bottom: 150px;
  color: var(--orange);
}

#titre-accueil h1 {
  font-size: 96px; /*B*/
  color: var(--darkblue);
  margin: 10%;
}


/* ---FORMULAIRE --- */

#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}

/* Bordered form */

option{
  margin: 15px;

}

/*#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}*/

/* Full-width inputs */
input[type=text], input[type=password], input[type=email], input[type=date], input[type=number], input[type=button], select {
  width: var(--formwidth);
  /*width: 100%;*/
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}



/* Set a style for all buttons */

input[type=submit] {
  background-color: var(--blue);;
  color: var(--white);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  
  /*width: 100%;*/
}

input[type=submit]:hover {
  background-color: var(--white);
  color: var(--blue);
  border: 1px solid var(--blue);
}

/* --- CONTACT --- */



.contact{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.btnContact{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.btnContact span{
  flex-grow: 1;
}

#imagee{
  display: block;
  width: 20%;
  margin: auto;
}

/* --- CONNEXION --- */

.Connex {
  display: flex;
  flex-direction: row;  
  justify-content: space-around;
  height: 700px;
  flex-grow:1;
  margin: 30px 0;
}

/*#connexion{
  height: 100%;
  display: flex;
  align-items: center;

}*/

#mdp {
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
  color: blue;
  text-transform: uppercase;
  text-decoration: none;
}

#mdp::before {
  animation:none;
  background: none;
}

.connexionbtn{
  color: var(--white);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

#noaccount {
  background-color : var(--white);
  width: 100%;
  color: var(--blue);
}

#noaccount:hover{
  background-color: var(--blue);
  border: 1px solid var(--white);
  color: var(--white)
}

#pasdecompte {
  margin-bottom: 0;
}

#img_conx{
  width: 400px;
  height: 425px;
  margin: 40px;
}

  /* GESTION ERREUR */

.erreur-error{
  background-color: #B22222;
  width: 100%;
  padding: 20px;
}
.erreur-sucess{
  background-color: #90EE90;
  width: 100%;
  padding: 20px;
}

.erreur-sucess p{
  color: black;
}

@media screen and (max-width : 1100px) {

 #img_conx{
  display: none;
  }
}

/* --- ANNONCES ---  */

#description{
  height: 100px;
}

/* Bordered form */
.option{
  margin: 15px;
}



#container h1{
  width: 38%;
  margin: 0 auto;
  padding-bottom: 10px;
}

/* Full-width inputs */


/* --- COMPTE --- */

.compte{
  width: 100%;
  height: 500px;
}

/* ARTICLE */

.compteur{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countdown{
  width: 40%;
  height: 100px;
}

.annonces h3{
  padding: 20px;
  text-align: center;
}

.annonces {
    display: flex;
    flex-direction: column;
    background-color: var(--blue);
    margin: 10%;
    margin-top: auto;
    height: 700%;
    border-radius: 10px;
}

.annonce1, .annonce p, h5{
  font-size: 20px;
  color: var(--white);
}

.idee{
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  margin-bottom: 40px; 
}

.idee a{
  color :var(--blue);
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
}

.idee a:hover{
  color :#293241;
}


/* COUNTDOWN */

.countdown{
  display: block;
  margin: 20px;
  border-radius:10px;

}

/* STYLE DU BOUTON DE PROPOSITION */

.btn{
  position: relative;
  background-color: var(--white);
  display: block;
  margin: auto;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 0.5rem 1rem var(--darkblue);
  height: auto;
  width: auto;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
}

/* SLIDER */

/* Slideshow container */
.slide {
  position: relative;
  background: var(--blue);
}

/* Slides */
.annonce {

  padding: 30px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: var(--darkblue);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #788d94;
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: var(--darkblue);
}

/* COMPTE */

.cpt{
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.cptinfo{
  background-color: var(--back);
  border-radius: 30px;
  flex-grow: 1;
  margin: 30px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .2);
}



.cpt li{
  text-align: center;
}
/* GESTION USER et ANNONCE */

#gestionUsrLink{
  color: black;
}

#gestionUsrLink:hover{
  color: var(--red);
}
.usrlist{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.usrinformations, .article{
  text-align: center;
  padding: 20px;
  margin: 10px;
  background-color: var(--back);
  border-radius: 40px;
  box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .2);
  flex-grow: 1;
}

.article{
  margin-top: 60px;
}

/* COOKIES */

.cookies, .confidentialite{
  text-align: center;
  margin: 20px;
  justify-content: center;
}

/* ABOUT */

#section-4 {
	height: 100vh;
	background-image: url(../img/bg.png);
	background-size: cover;
	background-position: bottom;
}


#section-4 .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    height: 90%;
    padding: 0 50px;
}

#section-4 .container .left{
    max-width: 550px;
    

}

#section-4 .container h1{
    font-size: 4.5em;
    color: #1c0d43;
    line-height: 1em;
    margin-bottom: 20px;

}

#section-4 .container p{
    font-size: 1.8em;
    color: #9e9aad;
    line-height: 1.5em;
    margin-bottom: 35px;

}

#section-4 .container a {
color: white;
background: purple;
padding: 15px 60px;
border-radius: 5px;
margin-bottom: 55px;
}

#section-4 .container img {
   margin-right: 120px;
}

@media screen and (max-width: 1150px){
#section-4 .container img{
    margin-right: 0px;
    }
}

@media screen and (max-width: 1471px){
    #section-4 .container img{
        height: 500px;
    }
}

@media screen and (max-width: 1221px){
     #section-4 {
        height: 150%;
        background-position: right;
    }


    #section-4 .container {
        flex-direction: column;
        justify-content: center;
        margin-top: 100px;
    }
    
    #section-4 .container img {
        width: 100%;
        height: auto;
        
    }
    #section-4 .container .left{
        text-align: center;
        margin-bottom: 50px;
    }

    #section-4 .container .right{
      width: 100%;
    }

}

@media screen and (max-width: 602px){
    #section-4 .container {
        padding: 0 15px;

    
    }

    #section-4 .container h1{
        font-size: 2.5em;

    
    }

    #section-4 .container p{
        font-size: 1.1em;
    
    }

    #section-4 .container .left{
        margin-bottom: 50px;
    
    }
    #section-4 .container img {
        width: 100%;
        justify-content: center;
        height: auto;
    }
}

#section-5 {
    margin: 100px auto;
    text-align: center;
    padding: 0 25px;
}

#section-5 h2{
    font-size: 2.7em;
    color: #1c0d43;
}

#section-5 .container-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
}

#section-5 .container-icon .bloc-icon{
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#section-5 .container-icon .bloc-img{
    background-color: #f6f3fe;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}


#section-5 .container-icon .bloc-icon img{
    width: 70%;
    
}


#section-5 .container-icon span {
    color: #1c0d43;
    font-size: 1.5em;
    font-weight: 700;
    margin: 25px 0 20px 0;

}

#section-5 .container-icon p {
    font-size: 1.1em;
    color: #9e9aad;
    line-height: 1.5em;   

}

@media screen and (max-width: 930px) {
    
    #section-5 h2{
        font-size: 2.1em;
    }

}

@media screen and (max-width: 743px) {
    
    #section-5 h2{
        font-size: 1.8em;
    }

}


@media screen and (max-width: 743px) {
    
    #section-5 h2{
        font-size: 2.5em;
       
    }



    #section-5 .container-icon {
        flex-direction: column;
        align-items: center;
        
    }

    #section-5 .container-icon .bloc-icon{
        max-width: none;
        width: 50%;
        margin-bottom: 50px;
    }

    #section-5 .container-icon .bloc-img{
        height: 250px;
        width: 250px;
    }

    #section-5 .container-icon span {
        font-size: 2.5em;
  
    }

    #section-5 .container-icon p {
        font-size: 1.75em;
  
    }

}

@media screen and (max-width: 425px) {
    
    #section-5 h2{
        font-size: 1.70em;
    }

    #section-5 .container-icon .bloc-img{
        height: 150px;
        width: 150px;
    }

    #section-5 .container-icon span {
        font-size: 2em;
  
    }

    #section-5 .container-icon p {
        font-size: 1.2em;
  
    }

}

/* CAMPAGNE */

.campagneform, .evenementform, .article{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formevent{
  height: 80px;
  margin: 10px;
}